<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Ask Question</h1>

{% for e in form.non_field_errors %}
    <div>{{ e }}</div>
{% endfor %}

<form method="post" action="/ask/">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
                {% if field.errors %}<p>has-error</p>{% endif %}">
                <label>{{ field.label }}</label>
                <div>{{ field }}</div>
        {% endfor %}
    </fieldset>
<div>
    <button type="submit">
    Сохранить</button>
</div>
</form>

</body>
</html>