{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="text-center">Hello</h1>
            <p class="text-center">This is my first web application written by Django framework how server
                based and I chose Bootstrap framework how frontend (UI based)</p>
        </div>
    </div>
<script type="text/javascript">
$(document).ready(function($) {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>

{% if questions %}
<table class="table table-striped">
    <thead>
      <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Reputation</th>
          <th>Author</th>
      </tr>
    </thead>
    <tbody>
    {% for question in questions %}
        <tr class="table-row" data-href="{{ question.get_url }}">
           <td><a href="{{ question.get_url }}">{{ question }}</a></td>
           <td>{{ question.added_at }}</td>
           <td>{{ question.rating }}</td>
           <td>{{ question.author }}</td>

        </tr>
    {% endfor %}
    </tbody>
  </table>


{#{% endif %}    #}

{#{% if questions %}#}
{#<ul>#}
{#	{% for q in questions %}#}
{#		<li><a href="{{ q.get_url }}">{{ q }}</a></li>#}
{#	{% endfor %}#}
{#</ul>#}

<nav class="center-block text-center"><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
            <a href="{{ paginator.baseurl }}{{ p }}">
            {{ p }}</a>
        </li>
    {% endfor %}
</ul></nav>
</div>

{% endif %}
{% endblock %}