<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA</title>
<body>

<a href="/">Home page</a> <br>
<a href="/popular/">Popular questions</a>

{% if questions %}
<ul>
	{% for q in questions %}
		<li><a href="{{ q.get_absolute_url }}">{{ q.title }}</a></li>
	{% endfor %}
</ul>

<nav><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
            <a href="{{ paginator.baseurl }}{{ p }}">
            {{ p }}</a>
        </li>
    {% endfor %}
</ul></nav>

{% endif %}


</body>
</html>