{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="text-center">Hello</h1>
            <p class="text-center">This is my first web application written by Django framework how server
                based and I chose Bootstrap framework how frontend (UI based)</p>
        </div>
    </div>

    {% if questions %}
    <table class="table table-striped table-hover">
        <thead>
          <tr>
              <th class="col-md-6">Title</th>
              <th class="col-md-6 text-center">Date</th>
              <th class="col-md-1 text-center">Reputation</th>
              <th class="col-md-2 text-center">Author</th>
          </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr class="table-row" onclick="window.document.location='{{ question.get_url }}';" style="cursor: pointer;" data-href="{{ question.get_url }}">
               <td class="col-md-6"><a href="{{ question.get_url }}" style="text-decoration: none">{{ question }}</a></td>
               <td class="col-md-3 text-center">{{ question.added_at|date:'Y-m-d H:i' }}</td>
               <td class="col-md-1 text-center">{{ question.rating }}</td>
               <td class="col-md-2 text-center">{{ question.author }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav class="center-block text-center">
        <ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p == page.number %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <a href="{{ paginator.baseurl }}{{ p }}">
                {{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}