{% extends 'base.html' %}

{% block content %}


<div class="container">
<h2 class="text-center">{{ question.title }}</h2>
<p>{{ question.text }}</p>



<table class="table">
    <thead>
      <tr>
        <th>Answers</th>
      </tr>
    </thead>
    <tbody>
    {% for answer in answers %}
        <tr>
    <td><p>{{ answer }}</p></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>


<h3>Your could write your answer:</h3>
<div class="panel-body">
                    <form method="post" action="/answer/">
                    {% csrf_token %}

                        <p class="bs-component">
                            <table>
                                <tr>
                                    <td>{{ form.answer.label_tag }}</td>
                                    <td>{{ form.answer }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% if form.answer.errors %}
                                             {{ form.answer.errors }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </p>
                        <p class="bs-component">
                            <div style="text-align: center;">
                                <input class="btn btn-success btn-sm" type="submit" value="Submit" />
                            </div>
                        </p>
                    </form>
                </div>
{#<form method="post" action="/answer/">#}
{#{% csrf_token %}#}
{#    <fieldset>#}
{#        {% for field in form %}#}
{#                {% if field.errors %}<p>has-error</p>{% endif %}">#}
{#                <label>{{ field.label }}</label>#}
{#                <div>{{ field }}</div>#}
{#        {% endfor %}#}
{#    </fieldset>#}
{#<div>#}
{#    <button type="submit">#}
{#    Отправить ответ</button>#}
{#</div>#}
{#</form>#}
</div>
{% endblock %}