{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <h2 class="text-center">{{ question.title }}</h2>
    <hr>
    <br>
    <p>{{ question.text }}</p>
    <br>
    <a id="increase" href="#" data-toggle="tooltip" title="Increase rating of this question" class="btn btn-primary btn-xs">+1</a>
    <a id="decrease" href="#" data-toggle="tooltip" title="Decrease rating of this question" class="btn btn-primary btn-xs">-1</a>


    <script src = "{% static 'js/jquery.min.js' %}"></script>

    <script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
        var csrftoken = getCookie('csrftoken');

      function sentajax(button_type){
{#        $("button").click(function(e){#}
{#            $('#tst').on('submit', function(e){#}
            e.preventDefault();
            $.ajax({
                url: '/rating/',
                type: 'POST',
                data: {
                    question_123: "{{ question.id }}",
                    changing: button_type,
                    csrfmiddlewaretoken: csrftoken
                }
            }).success(function(data) {
                if (data.status == 'ok') {
                    console.log(data.comment_id);
                }
            }).error(function() {
                console.log('http error')
            });

    }
    $('#increase').click(function(){
            sentajax( 'plus' );
    });

    $( '#decrease' ).click(function(){
         sentajax( 'minus' );
    });


    </script>


















    <p class="text-right">
        <strong>Author:</strong> {{ question.author }} <br>
        <strong>Published at:</strong> {{ question.added_at|date:'Y-m-d H:i' }}
    </p>
<br>
<hr>

    {% if answers %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Answers:</th>
                </tr>
            </thead>
            <tbody>
                {% for answer in answers %}
                    <tr>
                        <td class="col-md-8"><p>{{ answer }}</p></td>
                        <td class="col-md-3 text-center"><p>{{ answer.added_at|date:'Y-m-d H:i' }}</p></td>
                        <td class="col-md-2 text-center"><p>{{ answer.author }}</p></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h3>Your could write your answer:</h3>
    <div class="panel-body">
        <form method="post" action="/answer/{{ question.id }}/">
        {% csrf_token %}
            <p class="bs-component">
                <table>
                    <tr>
                        <td>{{ form.text }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% if form.text.errors %}
                                 {{ form.text.errors }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="bs-component">
                                <div style="text-align: center;">
                                    <input class="btn btn-success btn-sm" type="submit" value="Submit" />
                                </div>
                            </p>
                        </td>
                    </tr>
                </table>
            </p>
            <input type="hidden" name="question" value="{{ question.id }}" />
        </form>
    </div>
</div>
{% endblock %}